<div id="<%= dom_id postulacion %>">
  <p>
    <strong>User:</strong>
    <%= postulacion.user_id %>
  </p>

  <p>
    <strong>Oferta laboral:</strong>
    <%= postulacion.oferta_laboral_id %>
  </p>

</div>
