<div id="<%= dom_id oferta_laboral %>">
  <p>
    <strong>Titulo:</strong>
    <%= oferta_laboral.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= oferta_laboral.descripcion %>
  </p>

</div>
